<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><?=config_item('my_title')?></title>
    <base href="<?=base_url()?>">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<?php require_once(VIEWPATH.'include/header.html');?>
<!-- 主内容区域 -->
<div class="container-fluid iframe-container">
    <?php require_once(VIEWPATH.'include/sidebar.html');?>
    <!-- 主面板 -->
    <div class="iframe-main">
        <div class="iframe-main-section">
            <div class="section_container">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title"><?=$section_name.go_back()?></div>
                    </div>
                    <form class="form-horizontal ajax-form-hook" action="<?=$save_url?>" method="post">
                        <div class="panel-body">
                            <input type="hidden" name="id" value="<?=$record['id']?>">
                            <div class="form-group">
                                <div class="col-xs-2 control-label">来源</div>
                                <div class="col-xs-3 form-control-static"><?=$record['source']?></div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 control-label">用户</div>
                                <div class="col-xs-3 form-control-static"><?=$record['username']?></div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 control-label">内容</div>
                                <div class="col-xs-3 form-control-static"><?=$record['content']?></div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 control-label">时间</div>
                                <div class="col-xs-3 form-control-static"><?=$record['create_time']?></div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 control-label">状态</div>
                                <div class="col-xs-8 radio">
                                    <?=$dict['audit_status']?>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-2 col-xs-8">
                                    <button type="submit" name="submit_type" value="1"
                                            class="btn btn-primary submit-hook">
                                        保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row form_container">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="plugin/require.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript">
    require(['unit', 'uploads'], function (unit) {
        unit.ajaxForm();
    });
</script>
</body>
</html>