<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><?=MYTITLE?></title>
    <base href="<?=base_url()?>">
    <link rel="stylesheet" href="plugin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="plugin/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="plugin/mtree/css/mtree.css">
    <link rel="stylesheet" href="css/style.css">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="plugin/html5shiv.min.js"></script>
    <script type="text/javascript" src="plugin/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<?php require_once(VIEWPATH.'include/header.html');?>
<!-- 主内容区域 -->
<div class="container-fluid iframe-container iframe-inverse">
    <?php require_once(VIEWPATH.'include/sidebar.html');?>
    <!-- 主面板 -->
    <div class="iframe-main">
        <div class="iframe-main-section">
            <div class="section_name_mdl">
                <h5 class="section_name"><?=$section_name?></h5>
            </div>
            <div class="container-fluid section_container">
                <div class="row form_container">
                    <form class="form-horizontal" action="<?=$save_url?>" method="post">
                        <div class="form-group">
                            <div class="col-xs-2 control-label">所属栏目</div>
                            <div class="col-xs-3">
                                <select class="form-control" name="pid">
                                    <?=$info_col?>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 control-label">信息类型</div>
                            <div class="col-xs-3">
                                <?=$info_type?>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 control-label">名称</div>
                            <div class="col-xs-3">
                                <input type="text" name="name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 control-label">图片</div>
                            <div class="col-xs-5 radio">
                                <?=$pic?>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 control-label">备注</div>
                            <div class="col-xs-5">
                                <textarea class="form-control" name="remark" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 control-label">显示</div>
                            <div class="col-xs-5 radio">
                                <?=$display?>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 control-label">排序</div>
                            <div class="col-xs-3">
                                <input type="text" name="sort" value="100" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-8">
                                <button type="submit" name="is_save" value="1" class="btn btn-default btn-primary">
                                    保存
                                </button>
                                <button type="submit" name="is_save" value="2" class="btn btn-default">保存并新增
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="plugin/jquery.min.js"></script>
<script type="text/javascript" src="plugin/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="plugin/mtree/js/mtree.js"></script>
<script type="text/javascript" src="plugin/common.js"></script>
</body>
</html>