<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><?=M_TITLE?></title>
    <base href="<?=base_url()?>">
    <link rel="stylesheet" href="plugin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<?php require_once(VIEWPATH.'include/header.html');?>
<!-- 主内容区域 -->
<div class="container-fluid iframe-container">
    <?php require_once(VIEWPATH.'include/sidebar.html');?>
    <!-- 主面板 -->
    <div class="iframe-main">
        <div class="iframe-main-section">
            <div class="section_container">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title"><?=$section_name.go_back()?></div>
                    </div>
                    <form class="form-horizontal ajax-form-hook" action="<?=$save_url?>" method="post">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-xs-2 control-label">名称</div>
                                <div class="col-xs-3">
                                    <input type="text" name="name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 control-label">图片1</div>
                                <div class="col-xs-8">
                                    <div id="images" class="uploads-queue-hook uploads_image_list"
                                         data-list='<?=$images?>'>
                                        <div class="uploads-queue-item-hook item complete"
                                             id="uploadifive-undefined-file-0" style="cursor: pointer;">
                                            <div class="progress" style="display: none;">
                                                <div class="progress-bar progress-bar-success"
                                                     style="width: 100%;"></div>
                                            </div>
                                            <div class="control"><a href="javascript:;" class="preview-hook"
                                                                    data-src="/uploads/20170831/959407c420991f2ed9ccba311f2b6155.jpg"><i
                                                    class="fa fa-search-plus"></i></a> <a href="javascript:;"
                                                                                          class="destory-hook"
                                                                                          data-id="246"><i
                                                    class="fa fa-trash"></i></a></div>
                                            <div class="jqthumb"
                                                 style="width: 69px; height: 69px; position: relative; overflow: hidden; display: block;">
                                                <div style="width: 100%; height: 100%; background-image: url(&quot;/uploads/20170831/959407c420991f2ed9ccba311f2b6155.jpg&quot;); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; position: absolute; top: 0%; left: 0%;"></div>
                                            </div>
                                            <img class="thumb-hook"
                                                 src="/uploads/20170831/959407c420991f2ed9ccba311f2b6155.jpg"
                                                 alt="599b886bN01ba9fa7.jpg" style="display: none;"> <input
                                                type="hidden" name="image_upload[]" value="246" class="input-hook">
                                        </div>
                                    </div>
                                    <input name="images" class="uploads-hook hidden" type="file"
                                           data-multi="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 control-label">图片2</div>
                                <div class="col-xs-8">
                                    <div id="uploads2-queue-hook" class="uploads-queue-hook uploads_image_list"></div>
                                    <input name="images2" class="uploads-hook hidden" type="file"
                                           data-queue-id="uploads2-queue-hook">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 control-label">图片3</div>
                                <div class="col-xs-8">
                                    <div>
                                        <a href="javascript:;" class="upload_btn upload-btn-hook">+</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 control-label">URL</div>
                                <div class="col-xs-3">
                                    <input type="text" name="url" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 control-label">目标窗口</div>
                                <div class="col-xs-8 radio">
                                    <?=$target?>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 control-label">状态</div>
                                <div class="col-xs-8 radio">
                                    <?=$display?>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 control-label">排序</div>
                                <div class="col-xs-2">
                                    <input type="text" name="sort" value="100" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-2 col-xs-8">
                                    <button type="submit" name="is_save" value="1" class="btn btn-primary">
                                        保存
                                    </button>
                                    <button type="submit" name="is_save" value="2" class="btn btn-default">保存并新增
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row form_container">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="plugin/require.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript">
    require(['uploads'], function () {
        $('.upload-btn-hook').on('click', function () {
            layer.open({
                type   : 2,
                title  : '选择图片',
                area   : ['800px', '560px'],
                content: 'index.php/uploads/select_image'
            })
        })
    });
</script>
</body>
</html>