<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><?=config_item('my_title')?></title>
    <base href="<?=base_url()?>">
    <link rel="stylesheet" href="plugin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<?php require_once(VIEWPATH.'include/header.html');?>
<!-- 主内容区域 -->
<div class="container-fluid iframe-container">
    <?php require_once(VIEWPATH.'include/sidebar.html');?>
    <!-- 主面板 -->
    <div class="iframe-main">
        <div class="iframe-main-sidebar">
            <div class="panel">
                <?=$main_sidebar?>
            </div>
        </div>
        <div class="iframe-main-section">
            <div class="section_container">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title"><?=$main_section_name?></div>
                    </div>
                    <div class="panel-body">
                        <div class="form-inline search_bar">
                            <?=$insert_btn?>
                            <?=$del_btn?>
                            <input type="text" name="key" class="form-control input-sm">
                            <button type="button" class="btn btn-default btn-sm search-btn-hook">搜索</button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table_list list-hook">
                                <thead>
                                <tr>
                                    <th width="5%">
                                        <label><input type="checkbox" name="checkAll" data-checkname="id">
                                            <ins></ins>
                                        </label>
                                    </th>
                                    <th>标题</th>
                                    <th width="10%">栏目</th>
                                    <th width="8%">状态</th>
                                    <th width="8%">排序</th>
                                    <th width="18%">发布时间</th>
                                    <th width="15%">操作</th>
                                </tr>
                                </thead>
                                <tbody class="list-body-hook"></tbody>
                                <script id="listTpl" type="text/html">
                                    {{each list as val}}
                                    <tr>
                                        <td>
                                            <label><input type="checkbox" name="id[]" value="{{val.id}}">
                                                <ins></ins>
                                            </label>
                                        </td>
                                        <td>{{#val.title}}</td>
                                        <td>{{val.category_name}}</td>
                                        <td>{{#val.display_name}}</td>
                                        <td>{{val.sort}}</td>
                                        <td>{{val.create_time}}</td>
                                        <td>
                                            {{each val.opera_btn as btn}}
                                            {{#btn}}
                                            {{/each}}
                                        </td>
                                    </tr>
                                    {{/each}}
                                </script>
                            </table>
                        </div>
                        <div class="pagination_box pagination-hook"></div>
                        <script id="paginationTpl" type="text/html">
                            {{#pagination}}
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="plugin/require.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript">
    require(['unit'], function (unit) {
        getList();

        //分页
        unit.pagination(function () {
            getList($(this).data('page'));
        });

        //搜索
        unit.search(function () {
            getList();
        });

        //获取列表
        function getList(pageIndex) {
            unit.getList({
                url: '<?=$get_list_url?>',
                data: {
                    x: Math.random(),
                    page: pageIndex,
                    key: $('input[name="key"]').val()
                }
            });
        }
    });
</script>
</body>
</html>