<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><?=MYTITLE?></title>
    <base href="<?=base_url()?>">
    <link rel="stylesheet" href="plugin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="plugin/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="plugin/lib/js/html5shiv.min.js"></script>
    <script type="text/javascript" src="plugin/lib/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container-fluid main_container">
    <div class="row">
        <div class="main_section_mdl">
            <div class="section_name_mdl">
                <h5 class="section_name">栏目1</h5>
            </div>
            <div class="container-fluid main_section_container">
                <div class="search_bar">
                    <div class="form-inline">
                        <div class="btn-group" role="group">
                            <a href="##" class="btn btn-default">新增</a>
                            <a href="##" class="btn btn-default">删除</a>
                        </div>
                        <div class="form-group">
                            <input type="text" name="key" class="form-control">
                        </div>
                        <button type="button" data-name="searchbtn" class="btn btn-default">搜索</button>
                    </div>
                </div>
                <div class="panel panel-default">
                    <table class="table table-bordered table_list">
                        <thead>
                        <tr>
                            <th>
                                <label><input type="checkbox" name="checkAll" data-checkname="id">
                                    <ins></ins>
                                </label>
                            </th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <label><input type="checkbox" name="id[]" value="">
                                    <ins></ins>
                                </label>
                            </td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>
                                <label><input type="checkbox" name="id[]" value="">
                                    <ins></ins>
                                </label>
                            </td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td>
                                <label><input type="checkbox" name="id[]" value="">
                                    <ins></ins>
                                </label>
                            </td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="panel-body text-center">
                        数据加载中...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="plugin/lib/js/jquery.min.js"></script>
<script type="text/javascript" src="plugin/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="plugin/lib/js/common.js"></script>
</body>
</html>