<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><?=config_item('my_title')?></title>
    <base href="<?=base_url()?>">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<?php require_once(VIEWPATH.'include/header.html');?>
<!-- 主内容区域 -->
<div class="container-fluid iframe-container">
    <?php require_once(VIEWPATH.'include/sidebar.html');?>
    <!-- 主面板 -->
    <div class="iframe-main">
        <div class="iframe-main-section">
            <div class="section_container">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title"><?=$section_name?></div>
                    </div>
                    <div class="panel-body">
                        <div class="form-inline search_bar">
                            <?=$insert_btn?>
                            <?=$del_btn?>
                            <input type="text" name="key" class="form-control input-sm">
                            <button type="button" class="btn btn-default btn-sm search-btn-hook">搜索</button>
                            <label><input type="checkbox" name="checkAll" data-checkname="id">
                                <ins>全选</ins>
                            </label>
                        </div>
                        <div class="row list-hook upload_file_panel"></div>

                        <script id="listTpl" type="text/html">
                            {{each list as val}}
                            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                <div class="thumbnail">
                                    <label><input type="checkbox" name="id[]" value="{{val.id}}">
                                        <ins></ins>
                                    </label>
                                    <div class="thumb">
                                        <div class="thumb_box">
                                            <img src="{{val.rel_path}}">
                                        </div>
                                    </div>
                                    <div class="caption">{{val.client_name}}</div>
                                </div>
                            </div>
                            {{/each}}
                        </script>
                        <div class="pagination_box pagination-hook"></div>
                        <script id="paginationTpl" type="text/html">
                            {{#pagination}}
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="plugin/require.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript">
    require(['unit'], function (unit) {
        getList();

        //分页
        unit.pagination(function () {
            getList($(this).data('page'));
        });

        //搜索
        unit.search(function () {
            getList();
        });

        function getList(pageIndex) {
            unit.getList({
                url: '<?=$get_list_url?>',
                listBodyEle: '.list-hook',
                data: {
                    x: Math.random(),
                    page: pageIndex,
                    key: $('input[name="key"]').val()
                }
            });
        }
    });
</script>
</body>
</html>