<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><?=config_item('my_title')?></title>
    <base href="<?=base_url()?>">
    <link rel="stylesheet" href="plugin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<?php require_once(VIEWPATH.'include/header.html');?>
<!-- 主内容区域 -->
<div class="container-fluid iframe-container">
    <?php require_once(VIEWPATH.'include/sidebar.html');?>
    <!-- 主面板 -->
    <div class="iframe-main">
        <div class="iframe-main-section">
            <div class="section_container">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title"><?=$section_name.go_back()?></div>
                    </div>
                    <form action="<?=$save_url?>" class="ajax-form-hook" method="post">
                        <div class="panel-body">
                            <div class="div_table auth_list">
                                <div class="div_thead div-thead-hook">
                                    <div class="div_tr">
                                        <div class="div_th control checkbox">
                                            <label><input type="checkbox" name="authCheckAll">
                                                <ins></ins>
                                            </label>
                                        </div>
                                        <div class="div_th flex name">名称</div>
                                        <div class="div_th opera">操作</div>
                                    </div>
                                </div>
                                <div class="div_tbody div-tbody-hook"></div>
                            </div>
                            <script type="text/html" id="listTpl">
                                {{#list}}
                            </script>
                            <?=$save_btn?>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="plugin/require.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript">
    require(['unit'], function (unit) {
        getList();
        //获取列表
        function getList() {
            unit.getList({
                url: '<?=$get_list_url?>',
                listBodyEle: '.div-tbody-hook'
            });
        }

        unit.authCheck();
        unit.ajaxForm();
    });
</script>
</body>
</html>