<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><?=MYTITLE?></title>
    <base href="<?=base_url()?>">
    <link rel="stylesheet" href="plugin/bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<?php require_once(VIEWPATH.'include/header.html');?>
<!-- 主内容区域 -->
<div class="container-fluid iframe-container">
    <?php require_once(VIEWPATH.'include/sidebar.html');?>
    <!-- 主面板 -->
    <div class="iframe-main">
        <div class="iframe-main-section">
            <div class="section_container">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title"><?=$section_name?></div>
                    </div>
                    <form class="form-horizontal" data-form="ajaxForm" action="<?=$save_url?>" method="post">
                        <div class="panel-body">
                            <input type="hidden" name="id" value="<?=$item['id']?>">
                            <div class="form-group">
                                <div class="col-xs-2 control-label">栏目</div>
                                <div class="col-xs-3">
                                    <?=$info_col?>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 control-label">名称</div>
                                <div class="col-xs-3">
                                    <input type="text" name="name" value="<?=$item['name']?>" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 control-label">图片</div>
                                <div class="col-xs-8">
                                    <input data-name="uploadifive" data-multi="false" name="image" type="file">
                                    <div id="uploadifive-image-queue" class="row uploadifive-queue">
                                        <?=$image?>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 control-label">URL</div>
                                <div class="col-xs-3">
                                    <input type="text" name="url" value="<?=$item['url']?>" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 control-label">备注</div>
                                <div class="col-xs-5">
                                    <textarea name="remark" class="form-control"
                                              rows="3"><?=$item['remark']?></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 control-label">状态</div>
                                <div class="col-xs-8 radio">
                                    <?=$display?>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 control-label">排序</div>
                                <div class="col-xs-2">
                                    <input type="text" name="sort" value="<?=$item['sort']?>" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-2 col-xs-8">
                                    <button type="submit" name="is_save" value="1" class="btn btn-primary">
                                        保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/jquery.min-1.11.1.js"></script>
<script type="text/javascript" src="plugin/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="plugin/mtree-1.0/js/mtree.js"></script>
<script type="text/javascript" src="plugin/dragsort-0.5.2/jquery.dragsort-0.5.2.min.js"></script>
<script type="text/javascript" src="plugin/jqthumb.min.js"></script>
<script type="text/javascript" src="plugin/holder.min.js"></script>
<script type="text/javascript" src="plugin/uploadifive-1.1.2/js/jquery.uploadifive.me.js"></script>
<script type="text/javascript" src="plugin/uploadifive-1.1.2/js/do_uploadifive.js"></script>
<script type="text/javascript" src="plugin/jquery.form.min.js"></script>
<script type="text/javascript" src="plugin/layer-3.0.1/layer.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>