<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><?=M_TITLE?></title>
    <base href="<?=base_url()?>">
    <link rel="stylesheet" href="plugin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="panel select_lib_panel">
    <div class="panel-body select_lib_panel_body">
        <div class="folder_tree">

        </div>
        <div class="select_lib_container">
            <div class="select_lib_toolbar">
                <div class="upload">
                    <a href="<?=site_url('/upload/upload_image')?>" class="btn btn-primary btn-sm"><i
                            class="fa fa-upload"></i>&nbsp;点击上传</a>
                </div>
                <div class="select_info select-info-hook"></div>
                <div class="search">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" placeholder="按文件名称搜索">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="select_lib_list nano nano-hook">
                <div class="nano-content">
                    <div class="row image-list-hook">
                        <div class="col-xs-3">
                            <div class="item item-hook">
                                <label>
                                    <input type="checkbox">
                                    <ins></ins>
                                </label>
                                <div class="thumb">
                                    <div class="control">
                                        <a href="javascript:;" class="preview-hook"><i class="fa fa-eye"></i></a>
                                        <a href="javascript:;" class="destory-hook"><i class="fa fa-trash"></i></a>
                                    </div>
                                    <img src="https://img20.360buyimg.com/da/jfs/t8236/100/3821266/143643/30075419/599e9788Naaf1a6d9.jpg"
                                         alt="">
                                </div>
                                <div class="name">这里是图片的名称，长了也没事</div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="item">
                                <label>
                                    <input type="checkbox">
                                    <ins></ins>
                                </label>
                                <div class="thumb">
                                    <div class="control">
                                        <a href="javascript:;"><i class="fa fa-eye"></i></a>
                                        <a href="javascript:;"><i class="fa fa-trash"></i></a>
                                    </div>
                                    <img src="https://img20.360buyimg.com/da/jfs/t8236/100/3821266/143643/30075419/599e9788Naaf1a6d9.jpg"
                                         alt="">
                                </div>
                                <div class="name">这里是图片的名称，长了也没事</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer select_lib_panel_footer">
        <button type="button" class="btn btn-primary">保存</button>
        <button type="button" class="btn btn-default close-hook">取消</button>
    </div>
</div>

<script type="text/javascript" src="plugin/require.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript">
    require(['unit', 'layer'], function (unit) {
        //获取窗口索引
        var index = parent.layer.getFrameIndex(window.name);
        //关闭窗口
        unit.layerClose(index);

        //设置弹窗标题
        parent.layer.title('选择图片');

        //更新选中信息
        $('.image-list-hook').on('click', 'input:checkbox', function () {
            var checkedNum = $('.image-list-hook').find('input:checkbox:checked').length;
            $('.select-info-hook').html('已选中了' + checkedNum + '张图片');
        });
    });
</script>
</body>
</html>