<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线浏览</title>
    <base href="<?=base_url()?>">
    <link rel="stylesheet" href="plugin/bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container-fluid online_container">
    <div class="row" id="list"></div>
    <script id="list_tpl" type="text/html">
        {{each list.list as val}}
        <div class="col-xs-3 item-mhook">
            <div class="thumbnail file-mhook" data-val="{{val.id}}" data-size="{{val.size}}"
                 data-full-path="{{val.full_path}}"
                 data-client-name="{{val.client_name}}"
                 data-ext="{{val.ext}}"
                 data-is-image="{{val.is_image}}"
                 data-is-file="{{val.is_file}}">
                <div class="thumb">
                    {{#val.file}}
                </div>
                <div class="caption">
                    <p class="filename" title="{{val.client_name}}">{{val.client_name}}</p>
                    <p>
                        <span class="filesize">{{val.size}}</span>
                        <span class="fileinfo">{{val.size_str_diy}}</span>
                    </p>
                </div>
            </div>
        </div>
        </div>
        {{/each}}
    </script>
    <div id="item" style="visibility: hidden;"></div>
    <script id="item_tpl" type="text/html">
        {{each list as val i}}
        <div class="uploadifive-queue-item col-xs-3 complete" id="uploadifive-<?=$name?>-file-{{i}}">
            <div class="thumbnail">
                <div class="thumb">
                    {{if val.isImage}}<!--图片-->
                    <img src="{{val.fullPath}}" title="{{val.clientName}}">
                    {{else}}<!--不是图片-->
                    <img data-src="holder.js/100px80?theme=primary&text=File type is {{val.fileExt}}"
                         title="{{val.clientName}}">
                    {{/if}}
                </div>
                <div class="caption">
                    <p class="filename" title="{{val.clientName}}">{{val.clientName}}</p>
                    <p><span class="filesize">{{val.fileSize}}</span></p>
                    <button type="button" class="close-item btn btn-danger btn-sm">删除</button>
                </div>
                <input type="hidden" name="<?=$name?>[]" value="{{val.fileId}}">
            </div>
        </div>
        {{/each}}
    </script>
</div>
<div class="online_btn_group">
    <span class="checked-nums-mhook"></span>
    <button class="btn btn-primary confirm-mhook">确定</button>
    <button class="btn btn-default cancel-mhook">取消</button>
</div>

<script type="text/javascript" src="js/require.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript">
    require(['template', 'unit', 'jqthumb', 'holder', 'dropload'], function (template, unit, jqthumb, Holder) {
        var index = parent.layer.getFrameIndex(window.name);
        var multi = '<?=$multi?>';
        var queueName = '#uploadifive-<?=$name?>-queue';
        var queueInputVal = [];
        var arrChecked = [];
        arrChecked['list'] = [];

        //关闭窗口
        $('button.cancel-mhook').on('click', function () {
            parent.layer.close(index);
        });

        //加载数据
        var pageIndex = 0;
        $('.online_container').dropload({
            domDown: {
                domRefresh: '',
                domNoData: '<div class="dropload-noData">没有了...</div>'
            },
            loadDownFn: function (me) {
                pageIndex++;
                var data = {
                    x: Math.random(),
                    page: pageIndex
                };
                $.ajax({
                    url: '<?=$get_list_url?>',
                    type: 'post',
                    dataType: 'json',
                    data: data,
                    success: function (data) {
                        if (data.list.list.length) {
                            $('#list').append(template('list_tpl', data));
                            $('#list').find('img').each(function () {
                                if ($(this).is(':visible')) {
                                    $(this).not('[data-src]').jqthumb({
                                        width: '100%',
                                        height: 80
                                    });
                                }
                            });
                            //为没有预览图的文件自动生成缩略图
                            Holder.run({
                                themes: {
                                    "primary": {
                                        bg: "#337AB7",
                                        fg: "#fff",
                                    },
                                    "danger": {
                                        bg: "#a94442",
                                        fg: "#fff",
                                    }
                                }
                            });
                        } else {
                            //锁定
                            me.lock();
                            //解锁
                            me.noData();
                        }
                        //重置
                        me.resetload();
                    }
                })
            }
        });

        //选择文件
        $(document).on('click', 'div.file-mhook', function () {
            if (multi == 'false') {//单选
                $(this).toggleClass('checked');
                $(this).closest('div.item-mhook').siblings('div.item-mhook').children('div.file-mhook').removeClass('checked');
            } else {//多选
                $(this).toggleClass('checked');
            }
            //选中文件数量
            $('span.checked-nums-hool').html('已选中&nbsp;' + $('.checked').length + '&nbsp;个文件');
        });

        //获取父框架中上传文件列表值
        $(queueName, window.parent.document).find('input').each(function (e) {
            queueInputVal[e] = parseInt($(this).val());
        });

        //确定
        $('button.confirm-mhook').on('click', function () {
            $('.checked').each(function () {
                var arrCurrent = [];
                arrCurrent['fileId'] = $(this).data('val');
                arrCurrent['fileSize'] = $(this).data('size');
                arrCurrent['fullPath'] = $(this).data('full-path');
                arrCurrent['clientName'] = $(this).data('client-name');
                arrCurrent['fileExt'] = $(this).data('ext');
                arrCurrent['isImage'] = $(this).data('is-image');
                arrCurrent['isFile'] = $(this).data('is-file');
                //将不与父框架中重复的数据push到数组
                if ($.inArray(parseInt(arrCurrent['fileId']), queueInputVal) < 0) {
                    arrChecked['list'].push(arrCurrent);
                }
            });
            if (arrChecked.list.length) {
                $('#item').append(template('item_tpl', arrChecked));
                //为没有预览图的文件自动生成缩略图
                Holder.run({
                    themes: {
                        "primary": {
                            bg: "#337AB7",
                            fg: "#fff",
                        },
                        "danger": {
                            bg: "#a94442",
                            fg: "#fff",
                        }
                    }
                });
                if (multi == 'false') {//单文件
                    $(queueName, window.parent.document).html($('#item').html());
                } else {//多文件
                    $(queueName, window.parent.document).append($('#item').html());
                }
            }
            //拖拽
            unit.dragsort(queueName);
            //关闭窗口
            parent.layer.close(index);
        })

    })
</script>
</body>
</html>