<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><?=MYTITLE?></title>
    <base href="<?=base_url()?>">
    <link rel="stylesheet" href="plugin/bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<?php require_once(VIEWPATH.'/include/header.html');?>
<!-- 主内容区域 -->
<div class="container-fluid iframe-container">
    <?php require_once(VIEWPATH.'/include/sidebar.html');?>
    <!-- 主面板 -->
    <div class="iframe-main">
        <div class="iframe-main-section">
            <div class="section_container">
                <div class="media account">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="images/avatar.svg">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">欢迎您，<?=$valid_username?><span><?=$role_name?></span></h4>
                        <p><i class="fa fa-bell"></i>&nbsp;上次登录时间：<?=$last_login_time?>，上次登录IP：<?=$last_login_ip?>
                            ，详细信息请查看<a href="<?=site_url('sys_log/?sys_cid=31')?>">日志</a>，如不是您本人登录，请及时<a
                                    href="">修改密码</a>
                        </p>
                    </div>
                </div>
                <div class="row introduce">
                    <div class="col-md-7">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-control"></div>
                                <div class="panel-title">系统信息</div>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">域名：<a href="<?=prep_url($server_name)?>"
                                                                  target="_blank"><?=$server_name?></a></li>
                                <li class="list-group-item">运行环境：<?=$server_info?></li>
                                <li class="list-group-item">上传目录：<?=$upload?></li>
                                <li class="list-group-item">上传类型：--</li>
                                <li class="list-group-item">上传上限：--</li>
                                <li class="list-group-item"><?=current_url()?></li>
                                <li class="list-group-item"><?php var_dump($this->input->get())?></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-control"></div>
                                <div class="panel-title">开发人员</div>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">官网：<a href="http://www.xuanyunet.com" target="_blank">www.xuanyunet.com</a>
                                </li>
                                <li class="list-group-item">程序开发：Meng Xianghan</li>
                                <li class="list-group-item">交互设计：Meng Xianghan</li>
                                <li class="list-group-item">讨论区：
                                    <a target="_blank"
                                       href="http://wpa.qq.com/msgrd?v=3&amp;uin=1056811341&amp;site=qq&amp;menu=yes"
                                       title="讨论区"><a target="_blank"
                                                       href="http://shang.qq.com/wpa/qunwpa?idkey=0d129222878ba69e9aae2ddd6d84f0800e985f83bfd19467ebb73e92c76badf9"
                                                       title="轩宇网络工作室"><i class="fa fa-qq"></i>&nbsp;QQ群</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min-1.11.1.js"></script>
<script src="plugin/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="plugin/mtree-2.0/js/mtree.js"></script>
<script src="js/core.js"></script>
</body>
</html>