@import "../plugin/font-awesome-4.7.0/css/font-awesome.min.css";
@import "theme.css";

/********************************common start****************************/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, 'Segoe UI', Arial, 'PingFang SC', 'Microsoft Yahei', sans-serif;
    background: #ecf0f5;
}

ul,
ol,
li {
    list-style: none;
}

/*a标签*/

a.disabled {
    color: #999;
    cursor: not-allowed;
}



.m15 {
    margin: 15px;
}

.mlr15 {
    margin: 0 15px;
}

.mtb15 {
    margin: 15px 0;
}

.mt15 {
    margin-top: 15px;
}

.mr15 {
    margin-right: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.ml15 {
    margin-left: 15px;
}

.p15 {
    padding: 15px;
}

.plr15 {
    padding: 0 15px;
}

.ptb15 {
    padding: 15px 0;
}

.pt15 {
    padding-top: 15px;
}

.pr15 {
    padding-right: 15px;
}

.pb15 {
    padding-bottom: 15px;
}

.pl15 {
    padding-left: 15px;
}

/********************************common end****************************/

/*登录面板*/


/*顶部导航*/

.navbar .navbar-right > li {
    border-left: rgba(0, 0, 0, .05) solid 1px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background: #f2f2f2;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background: #f2f2f2;
}

.navbar .dropdown_user {
    margin: 0;
}

.navbar .dropdown_user i {
    width: 15px;
}

.navbar .dropdown_user i:before {
    font-size: 16px;
    vertical-align: -2px;
}

.navbar .dropdown_lang img {
    vertical-align: text-bottom;
    height: 16px;
    border: rgba(0, 0, 0, .08) solid 1px;
}

@media screen and (max-width: 767px) {
    .navbar .navbar-right > li {
        border-left: 0;
    }

    .navbar .dropdown_user {
        margin: 7.5px -15px;
    }

    .navbar .dropdown_user span {
        float: left;
        margin-right: 10px;
    }

    .navbar .username {
        margin: 0;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        padding: 10px 15px;
    }
}

/*框架*/


.iframe-inverse .iframe-sidebar {
    background: url("../images/nav-profile.png") no-repeat center top #263238;
    background-size: 100% auto;
}

.iframe-inverse .iframe-main-sidebar {
    background: #edf0f2;
}

/*模块侧边栏*/
.iframe-sidebar::-webkit-scrollbar {
    width: 5px;
}

.iframe-sidebar::-webkit-scrollbar-track {
    background: #52585b;
}

.iframe-sidebar::-webkit-scrollbar-thumb {
    background-color: #1677c8;
}

.iframe-sidebar {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
/*********************************************************/
.iframe-sidebar .mtree a:hover,
.iframe-sidebar .mtree a.current:hover,
.iframe-sidebar .mtree a.slide_down:hover {
    color: #fff;
}

.iframe-sidebar .mtree a

.iframe-sidebar .mtree a.current

.iframe-sidebar .mtree span[data-name="mtree_btn"] {
    width: 40px;
    line-height: 40px;
}

.iframe-sidebar

.iframe-sidebar.sidebar_hidden

/*内容区侧边栏*/
.iframe-main-sidebar > .panel {
    margin: 15px 0 0 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 15px;
}

.iframe-main-sidebar .panel-body {
    padding: 5px;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.iframe-main-sidebar .mtree a {
    padding: 5px 0;
    color: rgba(0, 0, 0, 0.7);
}

.iframe-main-sidebar .mtree a:not(.current):hover {
    color: rgba(0, 0, 0, .8);
    background: transparent;
}

.iframe-main-sidebar .mtree a.current {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, .8);
}

/*.iframe-main-sidebar-title {
    background: #d9dee4;
    height: 65px;
    margin: 0;
    text-indent: 20px;
    line-height: 40px;
}

.iframe-main-sidebar-tree {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.iframe-main-sidebar-tree.panel-body {
    padding: 0;
}

.iframe-main-sidebar-tree.mtree ul {
    margin: 0;
}

.iframe-main-sidebar-tree.mtree a {
    color: #333;
    line-height: 40px;
}

.iframe-main-sidebar-tree.mtree a:hover {
    background: #F7FAFA;
}

.iframe-main-sidebar-tree.mtree a.current {
    background: #fff;
}*/

/********************************mtree start****************************/

.mtree ul {
    display: none;
}

.mtree li {
    font-size: 0;
}

.mtree a {
    font-size: 14px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 30px;
}

.mtree ul ul a {
    font-size: 12px;
}

.mtree a span[data-name="mtree_indent"] {
    display: none;
}

.mtree a span[data-name="mtree_checkbox"] {
    vertical-align: middle;
    display: inline-block;
}

.mtree a span[data-name="mtree_btn"] {
    width: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
}

.mtree a.current {
    background: #ccc;
}

/********************************mtree end****************************/

/*标志*/

.navbar-primary .navbar-brand {
    width: 200px;
}

/*面包屑导航*/

/*.section_name_mdl {
    height: 40px;
    background: #fff;
    border-bottom: #ddd solid 1px;
}

.section_name_mdl .section_name {
    line-height: 40px;
    float: left;
    margin: 0;
}

.section_name_mdl .section_name:before {
    content: '';
    height: 14px;
    width: 4px;
    background: #337ab7;
    display: inline-block;
    vertical-align: -2px;
    margin: 0 8px 0 15px;
}

.section_name_mdl .breadcrumb {
    background: none;
    margin: 0;
    padding: 10px 15px 0;
}*/

/*分页*/

.pagination_box {
    text-align: right;
    /*margin: 0 0 20px;*/
}

.pagination_info {
    display: inline-block;
    vertical-align: middle;
    padding: 0 16px;
    color: #888;
}

.pagination {
    font-size: 14px;
    vertical-align: middle;
    margin: 0;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-radius: 0;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    z-index: 4;
}

@media screen and (max-width: 767px) {
    .pagination_info {
        display: none;
    }
}

/*主内容区*/

.section_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-y: auto;
}

.section_content {
    position: relative;
}

.nocategory {
    font-size: 22px;
    text-align: center;
    padding: 100px 0 0 0;
}

.nocategory i {
    vertical-align: middle;
    margin: 0 10px 0 0;
    font-size: 36px;
    color: #f0ad4e;
}

/*站点配置*/

.config_menubar {
    padding: 20px 0;
}

/*检索*/

/*.search_bar {
    padding: 10px 0;
}*/

/*列表*/

div[data-name="loading"],
div[data-name="nodata"] {
    text-align: center;
    padding: 80px 0;
}

.table_list a + a {
    display: inline-block;
    margin-left: 5px;
}

.table_list a + a:before {
    content: '|';
    margin-right: 8px;
    color: #ddd;
}

.table_list th:first-child label,
.table_list td:first-child label,
.table_list .checkbox,
.table_list .radio {
    margin: 0;
}

.table_list label {
    margin-bottom: 0;
}

.table_list img {
    width: 120px;
    height: 80px;
}

/*操作区*/

/*.form_container {
    padding-top: 15px;
    padding-bottom: 15px;
}*/

/*设置权限*/

.updata_auth {
    padding: 0 0 20px;
}

/*内容区侧边栏*/

.main_sidebar_title {
    background: #d9dee4;
    height: 40px;
    margin: 0;
    text-indent: 20px;
    line-height: 40px;
}

.main_sidebar_tree {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.main_sidebar_tree .mtree ul {
    margin: 0;
}

.main_sidebar_tree .mtree a {
    color: #333;
    line-height: 40px;
}

.main_sidebar_tree .mtree a:hover,
.main_sidebar_tree .mtree a.current {
    background: #fff;
}

/*权限分配*/
.role_auth_list {
}

.role_auth_list li > div {
    padding: 10px;
    border-top: 1px solid #e9e9e9;
}

.role_auth_list li > div:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.role_auth_list > ul > li:first-child > div {
    border-top: none;
}

.role_auth_list > li:after {
    content: '';
    display: table;
    clear: both;
}

.role_auth_list .auth_control {
    width: 40px;
    float: left;
}

.role_auth_list .auth_type {
    width: 300px;
    float: right;
}

.role_auth_list .auth_name {
    display: block;
}

/*.treeview > ul {
    margin-bottom: -1px;
}

.treeview td {
    padding: 8px;
    border-right: 1px solid #ddd;
}

.treeview td:last-child {
    border: none;
}

.treeview tr {
    border-bottom: 1px solid #ddd;
}*/

/*文件上传*/

.uploadifive-button {
    padding: 0;
    overflow: hidden;
}

.uploadifive-queue-item {
    width: 150px;
    margin: 0 7.5px;
    padding: 0;
}

.uploadifive-queue-item .thumbnail {
    width: 150px;
    height: 167px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 0;
}

.uploadifive-queue-item .thumbnail.placeholder {
    border-style: dashed;
}

.uploadifive-queue-item .thumbnail img {
    width: 100%;
    height: 80px;
}

.uploadifive-queue-item .caption {
    padding: 0;
}

.uploadifive-queue-item p {
    margin: 0 0 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.uploadifive-queue-item .filename {
    margin: 0;
}

.uploadifive-queue-item .progress {
    margin: 5px 0 0 0;
    height: 8px;
}

.uploadifive-queue-item .progress-bar {
    box-shadow: none;
}

/*在线管理*/

.online_container {
    overflow: hidden;
    overflow-y: auto;
    padding-top: 15px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 55px;
}

.online_container .col-xs-3 {
    position: relative;
    cursor: default;
}

.online_container .thumbnail {
    margin-bottom: 15px;
}

.online_container .thumbnail.checked:before {
    content: '';
    border-style: solid;
    border-color: #5cb85c #5cb85c transparent transparent;
    border-width: 18px;
    position: absolute;
    right: 7.5px;
    top: 0;
    z-index: 999;
}

.online_container .thumbnail.checked:after {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #fff;
    position: absolute;
    right: 12px;
    top: 0;
    z-index: 999;
    font-size: 14px;
}

.online_container .caption {
    padding: 0;
}

.online_container img {
    width: 100%;
    height: 80px;
}

.online_container p {
    margin: 0 0 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.online_container .filename {
    margin: 5px 0 0 0;
}

.online_btn_group {
    padding: 10px;
    text-align: right;
    border-top: 1px solid #ddd;
    pointer-events: auto;
    text-align: right;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 9999;
}

.online_btn_group button {
    margin: 0 5px;
}

/*颜色选择器*/

.colorpicker-element input.form-control {
    border-right: none;
}

.colorpicker-element .input-group-addon {
    background: none;
}

.colorpicker-element .input-group-addon i {
    vertical-align: middle;
}
