<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><?=MYTITLE?></title>
    <base href="<?=base_url()?>">
    <link rel="stylesheet" href="plugin/bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<?php require_once(VIEWPATH.'include/header.html');?>
<!-- 主内容区域 -->
<div class="container-fluid iframe-container">
    <?php require_once(VIEWPATH.'include/sidebar.html');?>
    <!-- 主面板 -->
    <div class="iframe-main">
        <div class="iframe-main-section">
            <div class="section_container">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title"><?=$section_name?></div>
                    </div>
                    <form action="<?=$save_url?>" data-form="ajaxForm" method="post">
                        <div class="panel-body">
                            <div class="role_auth_list" id="list"></div>
                            <script type="text/html" id="list_tpl">
                                {{#list}}
                            </script>
                            <button type="submit" class="btn btn-primary mt">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/require.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript">
    require(['template','unit'], function (template,unit) {
        $(function () {
            get_list();
            //获得列表
            function get_list() {
                var data = {
                    x: Math.random()
                };
                $.ajax({
                    url: '<?=$get_list_url?>',
                    type: 'post',
                    dataType: 'json',
                    data: data,
                    beforeSend: function () {
                        $('[data-name="nodata"],[data-name="loading"]').remove();
                        $('#list,#pagination').html('');
                        $('[data-name="list"]').after('<?=MYLOADING?>');
                    },
                    success: function (data) {
                        $('[data-name="loading"],[data-name="nodata"]').remove();
                        if (data.list.length) {
                            $('#list').html(template('list_tpl', data));
                        } else {
                            $('[data-name="list"]').after('<?=MYNODATA?>');
                        }
                    }
                })
            }
            unit.authCheck();
        });
    });
</script>
</body>
</html>